__pycache__/
*.pyc
*.pyo
*.pyd
.vscode/
.idea/
.env
.edge-title-check/
.DS_Store
Thumbs.db

.vercel
.env*

.edge-search-check/
**/.edge-search-check/
.browser-profile/
**/.browser-profile/
playwright-report/
test-results/
